@use "sass:color";
$primary-color: #fc9024;
$secondary-color: #f5f5f5;
$text-color: #333;

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-direction: column;
  padding: 2rem;

  h1 {
    color: $text-color;
  }
  p {
    color: $text-color;
  }

  .logout-button {
    width: 100%;
    padding: 0.8rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .logout-button:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
  }
}
